<div class="container">
    <h1>album</h1>
    <ul class="px-2 list-unstyled">
        <li *ngFor="let al of comment" class="shadow-sm">
            <div>
                {{al.userId}}
                <div class="d-flex m-2">

                    {{al.id}},

                    <a routerLink="/comments/{{al.url}}">
                        <div>
                            <p>{{al.title}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
