<div class="container">
    <h1>College Admission form</h1>

    <form [formGroup]="clgeForm" (ngSubmit)="onSubmitClgeForm()">
        <div>
            <label>Frist Name</label>
            <input type="text" class="form-control" formControlName="fristName" placeholder="Frist Name"
                [ngClass]="{'is-invalid':(formSubmitted && clgeForm.controls.fristName.invalid) || (clgeForm.controls.fristName.dirty && clgeForm.controls.fristName.invalid)}">
            <div
                *ngIf="(formSubmitted && clgeForm.controls.fristName.invalid) || (clgeForm.controls.fristName.dirty && clgeForm.controls.fristName.invalid)">
                This feild is requered</div>
        </div>
        <div>
            <label>Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
                [ngClass]="{'is-invalid':(formSubmitted && clgeForm.controls.lastName.invalid) || (clgeForm.controls.lastName.dirty && clgeForm.controls.lastName.invalid)}">
            <div
                *ngIf="(formSubmitted && clgeForm.controls.lastName.invalid) || (clgeForm.controls.lastName.dirty && clgeForm.controls.lastName.invalid)">
                This feild is requered</div>
        </div>
        <div>
            <label>course</label>
            <select class="form-control" formControlName="course"
                [ngClass]="{'is-invalid':(formSubmitted && clgeForm.controls.course.invalid) || (clgeForm.controls.course.dirty && clgeForm.controls.course.invalid)}">
                <div
                    *ngIf="(formSubmitted && clgeForm.controls.course.invalid) || (clgeForm.controls.course.dirty && clgeForm.controls.course.invalid)">
                    This feild is requered</div>
                <option>course</option>
                <option>BA</option>
                <option>Bcom</option>
                <option>Bsc</option>
                <div
                    *ngIf="(formSubmitted && clgeForm.controls.course.invalid) || (clgeForm.controls.course.dirty && clgeForm.controls.course.invalid)">
                    This feild is requered</div>
            </select>

        </div>

        <div>
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email"
                [ngClass]="{'is-invalid':(formSubmitted && clgeForm.controls.email.invalid) || (clgeForm.controls.email.dirty && clgeForm.controls.email.invalid)}">
            <div
                *ngIf="(formSubmitted && clgeForm.controls.email.invalid) || (clgeForm.controls.email.dirty && clgeForm.controls.email.invalid)">
                This feild is requered</div>
        </div>
        <div>
            <label>Date Of Birth</label>
            <input type="date" class="form-control" formControlName="dateOfBirth" placeholder="Date Of Birth"
                [ngClass]="{'is-invalid':(formSubmitted && clgeForm.controls.dateOfBirth.invalid) || (clgeForm.controls.dateOfBirth.dirty && clgeForm.controls.dateOfBirth.invalid)}">
            <div
                *ngIf="(formSubmitted && clgeForm.controls.dateOfBirth.invalid) || (clgeForm.controls.dateOfBirth.dirty && clgeForm.controls.dateOfBirth.invalid)">
                This feild is requered</div>
        </div>
        <div>
            <label>School Name</label>
            <input type="text" class="form-control" formControlName="schoolName" placeholder="School Name"
                [ngClass]="{'is-invalid':(formSubmitted && clgeForm.controls.schoolName.invalid) || (clgeForm.controls.schoolName.dirty && clgeForm.controls.schoolName.invalid)}">
            <div
                *ngIf="(formSubmitted && clgeForm.controls.schoolName.invalid) || (clgeForm.controls.schoolName.dirty && clgeForm.controls.schoolName.invalid)">
                This feild is requered</div>
        </div>
        <div class="mt-3">
            <input type="reset" class="btn btn-primary mr-2">
            <input type="submit" [disabled]="clgeForm.invalid" class="btn btn-primary">
        </div>

    </form>
</div>
